   <!-- Footer -->
   <footer>

      <div class="container">
         <div class="footer-intro">
            <div class="footer-intro-left">
               <div class="footer-socials">
                  <a href="#"><img src="images/logo-white.svg" alt="brand-logo"></a>
                  <div class="social-icons">
                     <a href="#"><img src="images/icon-facebook.svg" alt="facebook-icon"></a>
                     <a href="#"><img src="images/icon-youtube.svg" alt="youtube-icon"></a>
                     <a href="#"><img src="images/icon-twitter.svg" alt="twitter-icon"></a>
                     <a href="#"><img src="images/icon-pinterest.svg" alt="pinterest-icon"></a>
                     <a href="#"><img src="images/icon-instagram.svg" alt="instagram-icon"></a>
                  </div>
               </div>
               <ul>
                  <li><a href="/about-us">About Us</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/blog">Blog</a></li>
               </ul>
               <ul>
                  <li><a href="/careers">Careers</a></li>
                  <li><a href="/support">Support</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
               </ul>
            </div>
            <div class="footer-intro-right">
               <a class="btn" href="/request">Request Invite</a>
               <p>&copy; Easybank. All Rights Reserved</p>
            </div>
         </div>
      </div>
      
   </footer>

   <script src="script.js"></script>
</body>
</html>