<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

   <title>Easybank</title>

   <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">

   <!-- CSS Stylesheets -->
   <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

   <header>

      <div class="container">

         <!-- Navbar -->
         <nav>
            <div class="logo">
               <a href="/"><img src="images/logo.svg" alt="brand-logo"></a>
            </div>
            <ul class="nav-links">
               <li><a href="/">Home</a></li>
               <li><a href="/about-us">About</a></li>
               <li><a href="/contact">Contact</a></li>
               <li><a href="/blog">Blog</a></li>
               <li><a href="/careers">Careers</a></li>
            </ul>
            <a class="btn" href="/request">Request Invite</a>
            <div class="line"><img src="images/icon-hamburger.svg" alt="hamburger-icon"></div>
            <div class="cross"><img src="images/icon-close.svg" alt="close-icon"></div>
         </nav>

      </div>

   </header>
