<%- include("partials/header") -%>

	<div class="main">
		<div class="container">
			<h1>Blog</h1>
			<hr>
			<p>Tucked inside the beautiful forest of Pecos, Texas, is the S.S. Sustainable Energy Fund, a 501(c)(3) dedicated to accelerating the shift to clean and renewable energy. We are working to encourage the development of energy conservation, by using renewable energy sources and making investment in energy efficient alternatives available to the public. S.S. Sustainable Energy Fund is all about the future, and we live in the era of the 21st century.</p>
		</div>
	</div>

<%- include("partials/footer") -%>