<%- include("partials/header") -%>

	<div class="main">
		<div class="container">
			<h1>Careers</h1>
			<hr>
			<p>We understand that sustainability is a constant challenge. Our mission is to help people and businesses take a greater role in the future of their environment. What we do: By making it easier for people and businesses to secure and manage their energy, we make it easier for the planet to continue working as it should. We create smarter products and more efficient processes that improve the environment for everyone when it is done right. We promote green energy in all its forms.</p>
		</div>
	</div>

<%- include("partials/footer") -%>