<%- include("partials/header") -%>

	<div class="main">
		<div class="container">
			<h1>Contact</h1>
			<hr>
			<p>SEGI is a leading sustainability and development company focusing on sustainable development, sustainable use of natural resources and sustainable energy use. SEGI is an independent, not-for-profit and not-for-profit design and development company based in Melbourne, Australia. With a network of over 40 partners throughout the world, SEGI designs and develops innovative solutions to problems or problems that have arisen in the last 10 years.</p>
		</div>
	</div>

<%- include("partials/footer") -%>