<%- include("partials/header") -%>

	<div class="main">
		<div class="container">
			<h1>Privacy Policy</h1>
			<hr>
			<p>We are a renewable energy company with a vision to provide the world with affordable, reliable, proven and reliable clean and renewable energy. We provide sustainable energy solutions to businesses with a need for energy efficiency and maintenance, to households, organizations and institutions with an energy need and affordability. We also work with governments and businesses to ensure the sustainable development of renewable energy to ensure a world with better energy choices and services.</p>
		</div>
	</div>

<%- include("partials/footer") -%>