<%- include("partials/header") -%>

	<div class="main">
		<div class="container">
			<h1>Support</h1>
			<hr>
			<p>Easybank is a professional resource for sustainable energy solutions and solutions to sustainability. Easybank has been a leading entity in the energy sector for the past 16 years. We believe that the energy sector is in need of some serious industry support and investment to transform itself. Easybank supports the energy sector for the good of the entire industry.</p>
		</div>
	</div>

<%- include("partials/footer") -%>